[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
pymysql = "*"
cloudinary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
